<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882967456335-tiqefk2jvqhk1l3r1bsmve00vhbjop4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882967456335-tiqefk2jvqhk1l3r1bsmve00vhbjop4j</string>
	<key>API_KEY</key>
	<string>AIzaSyCrgCodnFWjAIg1Cc9BCOMwWARXwc787ck</string>
	<key>GCM_SENDER_ID</key>
	<string>882967456335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atanashristov.airshipMessaging</string>
	<key>PROJECT_ID</key>
	<string>airship-messaging-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>airship-messaging-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882967456335:ios:49941752c607d41717583a</string>
</dict>
</plist>